SugarRestSharpSolution/.vs/
SugarRestSharpSolution/packages/
SugarRestSharpSolution/SugarRestSharp.IntegrationTests/obj/
SugarRestSharpSolution/SugarRestSharp/bin/
SugarRestSharpSolution/SugarRestSharp/obj/
SugarRestSharpSolution/SugarCrm.PocoGen.Console/obj/
SugarRestSharpSolution/SugarCrm.PocoGen/obj/
SugarRestSharpSolution/SugarRestSharp.IntegrationTests/bin/
SugarRestSharpSolution/SugarRestSharp.Lib/obj/
SugarRestSharpSolution/SugarRestSharp.Lib/bin/
SugarRestSharpSolution/SugarCrm.PocoGen/bin/
SugarRestSharpSolution/SugarCrm.PocoGen.Console/bin/
