SugarRestSharpSolution/.vs/
SugarRestSharpSolution/packages/
SugarRestSharpSolution/SugarRestSharp.IntegrationTests/obj/
SugarRestSharpSolution/SugarRestSharp/bin/
SugarRestSharpSolution/SugarRestSharp/obj/
